RewriteEngine On

# Base facultative mais utile si tu es dans un sous-dossier
RewriteBase /

# Ne pas réécrire si fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon, rediriger vers index.php
RewriteRule ^ index.php [QSA,L]

# Mise en cache pour certains fichiers
<FilesMatch "\.(css|js|ico|png)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</FilesMatch>
