main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


h3 {
    color: #00558B;
    margin: 0 0 45px 0;
}

.cell {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 20px;
}

.btn{
    background-color : #00558B;
}

.btn:hover{
    background-color: #E8CE7E;
}
