/* Spécification du style pour la balise <main> */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h3,h4 {
    color: #00558B;
    margin: 25px;
}

.card-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 20px;
}

.message{
    color: #00558B;
}

/* Style des options dans le menu déroulant du select */
.dropdown-content li>a, .dropdown-content li>span{
    padding: 15px;
    color: #00558B;
}

.row {
    margin: 20px;
}