main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


h3,h4 {
    color: #00558B;
    margin: 25px;
}

.card-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.row {
    margin: 20px;
}

.btn{
    background-color : #00558B;
}

.btn:hover{
    background-color: #E8CE7E;
}
