@import "global.css";

/* Global */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a, a:visited  {
    color: var(--text-color);
}

a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

/* Ajustements Header */

.navbar {
    background-color: var(--main-color);
}

.navbar .brand-logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar .brand-logo img {
    height: 55px;
    width: 130px;
    object-fit: contain;
}


.sidenav li:first-child {
    margin-top: var(--large-spacing);
}

a.brand-logo {
    display: inline-block;
    height: 60px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-wrapper .sidenav-trigger {
    position: absolute;
    left: 0;
}

.nav-wrapper .right {
    position: absolute;
    right: 0;
}

ul.center {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Ajustements Main */


main {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-y: auto;
}

/* Ajustements Footer */

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    z-index: 1;
}

.page-footer {
    background-color: var(--main-color);
}

.footer-copyright {
    background-color: var(--main-color);
    color: var(--text-color);
}