@import "global.css";
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
main > div {
    width: 100%;
    height: 90%;
    display: flex;
    gap: 2rem;
    justify-content: space-around;

}
main >div > section:first-child {
    max-width: 55%;
    max-height: 100%;
}
main > div > section:first-child form {
    width: 100%;
    max-width: 100%;
}
#map {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: .4rem;
    width: 35%;
    background-color: var(--couleur-bleu-roi);
}

.dataTable {
    max-height: 100%;
    max-width: 100%;
}

main > div > section:first-child {
    overflow-x: auto;
}

#homepage-table {
    table-layout: auto;
    width: 100%;
}
.marker-blue {
    filter: hue-rotate(200deg) saturate(200%);
}

.marker-yellow {
    filter: hue-rotate(60deg) saturate(300%);
}