@import "global.css";
main {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

main section:first-child {
    width: 55%;
}

#map {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: .4rem;
    width: 35%;
    background-color: var(--couleur-bleu-roi);
}

