/* Spécification du style pour la balise <main> */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

label{
    color: #2c2c2c !important;
}

h1 {
    font-size: 2.92rem;
    margin: 1.95rem 0 1.168rem 0;
    color: #00558B;
}

h2 {
    color: #00558B;
    font-size: 2.28rem;
    margin: 25px 25px 25px 10px;
}

h3 {
    font-size: 1.64rem;
    margin: 1.1rem 0 0.656rem 0;
    color: #00558B;
}

.card-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 20px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    word-wrap: break-word;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 20px;
    color: #8C6F18 !important;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip-container:hover::after {
    opacity: 1;
    visibility: visible;
}

.export {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.message{
    color: green;
}

.errorMessage{
    color: red;
}

/* Style des boutons de la page */
.btn{
    background-color : #00558B;
}

.btn:hover {
    background-color: #E8CE7E;
}

/* Style des options dans le menu déroulant du select */
.dropdown-content li>a, .dropdown-content li>span{
    padding: 15px;
    color: #00558B;
}

input[type="checkbox"].filled-in:checked + span:after {
    background-color: #00558B !important;
    border-color: #00558B !important;
}

/* Style des select */
.select-wrapper input.select-dropdown{
    margin: 0 35px 22px 0;
}
