:root {
    --couleur-bleu:         #1F63DE;
    --couleur-jaune:        #FFFF85;
    --couleur-noir:         #000000;
    --couleur-blanc:        #FFFFFF;

    --couleur-or:           #FED100;
    --couleur-orange:       #FF7900;
    --couleur-bleu-clair:   #33CCFF;
    --couleur-corail:       #FF8B7C;
    --couleur-vert:         #53DE94;
    --couleur-mauve:        #9966FF;

    --couleur-jaune-pale:   #FFFFBF;
    --couleur-peche:        #FFDEBF;
    --couleur-bleu-pale:    #CDEAFC;
    --couleur-corail-pale:  #FFD4CC;
    --couleur-vert-pale:    #CAFEE4;
    --couleur-lavande:      #DDCCFF;
    --couleur-ocre:         #B2861B;
    --couleur-brique:       #B25600;
    --couleur-bleu-roi:     #00008E;
    --couleur-vin:          #990000;
    --couleur-emeraude:     #009A74;
    --couleur-violet:       #660099;

    --main-family: "AMUMonumentGrotesk-Regular", sans-serif;
    --medium-family: "AMUMonumentGrotesk-Medium", sans-serif;
    --bold-family: "AMUMonumentGrotesk-Bold", sans-serif;
}


* {
    font-family: var(--main-family);
    padding: 0;
    margin: 0;
}

a, li {
    list-style: none;
    text-decoration: none;
}

.df {
    display: flex;
}
.ac {
    align-items: center;
}
.g1 {
    gap: .5rem;
}
.fs8 {
    font-size: .8rem;
}