@import "global.css";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accroche {
    display: flex;
    flex-direction: column;

    gap: 18vh;
    margin-top: 3rem;
    width: 50%;
}
.accroche > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.accroche h1 {
    text-wrap: pretty;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    hyphens: auto;
    line-height: 1;
    font-size: 3.5rem;
    color: var(--couleur-bleu-roi);
}
.accroche p {
    text-align: center;
    color: var(--couleur-bleu);
    font-size: 1rem;
    font-weight: lighter;
}
.accroche>div:last-child {
    display: flex;
    gap: .4rem;
}
.accroche>div:last-child a {
    border-radius: .2rem;
    cursor: pointer;
    padding: .7rem 0;
    width: 50%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: lighter;
}

.accroche>div:last-child a:first-child {
    transition: all .3s ease;
    color: var(--couleur-jaune);
    background-color: var(--couleur-bleu);
    border: 1px solid var(--couleur-bleu);
}
.accroche>div:last-child a:first-child:hover {
    transition: all .3s ease;
    background-color: var(--couleur-bleu-pale);
    color: var(--couleur-bleu-roi);
    border: 1px solid var(--couleur-bleu-pale);

}
.accroche>div:last-child a:last-child {
    transition: all .3s ease;
    color: var(--couleur-bleu);
    border: 1px solid var(--couleur-bleu);
}
.accroche>div:last-child a:last-child:hover {
    transition: all .3s ease;
    background-color: var(--couleur-jaune-pale);
    color: var(--couleur-bleu-roi);
    border: 1px solid var(--couleur-jaune-pale);

}
.decoration {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 80vh;
}

.rond {
    position: absolute;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-color: currentColor;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    border-bottom: 5vw solid currentColor;
}

.carre {
    position: absolute;
    border-radius: .2rem;
    width: 5vw;
    height: 5vw;
    background-color: currentColor;

}
